@media (max-width:56em) {
    html {
        font-size: 50%;
    }
}

/* @media (max-width:50.9375em) {
    html {
        font-size: 40%;
    }
} */

@media (max-width:48.125em) {
    .hero-section {
        grid-template-columns: 1fr;
        gap: 4.8rem;
    }

    .hero-img {
        width: 80%;
        border-radius: 10px;
    }

    .choose-list {
        display: flex;
        list-style: none;
        gap: 4.8rem;
        flex-direction: column;
    }
}

@media (max-width:41.875em) {

    /* html {
        font-size: 20%;
    } */
    .services-list {
        display: flex;
        flex-direction: column;
        /* grid-template-columns: 1fr; */
        gap: 1.5rem;
    }

    .a {
        order: 1;
    }

    .b {
        order: 2;
        margin-bottom: 3.8rem;
    }

    .c {
        order: 3;
    }

    .d {
        margin-bottom: 3.8rem;
        order: 4;
    }

    .e {
        order: 5;
    }

    .f {
        order: 6;
    }

    .address {
        font-size: 1.8rem;
    }

    .copyright {
        font-size: 2rem;
    }

    .hero-H {
        font-size: 3.2rem;
    }

}

@media (max-width:29.375em) {
    /* html {
        font-size: 20%;
    } */
}
